--
-- PostgreSQL database dump
--



-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_step_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.daily_step_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date date NOT NULL,
    steps integer
);


--
-- Name: daily_step_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.daily_step_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: daily_step_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.daily_step_logs_id_seq OWNED BY public.daily_step_logs.id;


--
-- Name: meal_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.meal_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying NOT NULL,
    meal_type character varying,
    time_of_day character varying,
    calories integer NOT NULL,
    carbs integer,
    protein integer,
    fats integer,
    sodium integer,
    sugar integer,
    created_at timestamp with time zone
);


--
-- Name: meal_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.meal_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: meal_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.meal_logs_id_seq OWNED BY public.meal_logs.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    content character varying,
    sender character varying,
    "timestamp" timestamp without time zone,
    recipes json,
    owner_id integer
);


--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    "firstName" character varying,
    "lastName" character varying,
    email character varying,
    health_condition character varying,
    hashed_password character varying,
    is_active boolean,
    reset_code character varying(10),
    reset_code_expires timestamp with time zone,
    date_of_birth character varying,
    height_cm integer,
    current_weight_kg double precision,
    goal_weight_kg double precision,
    goal_calories integer DEFAULT 2000,
    goal_steps integer DEFAULT 10000,
    activity_level character varying DEFAULT 'Moderately Active'::character varying
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: workout_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workout_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying NOT NULL,
    workout_type character varying,
    duration_minutes integer,
    calories_burned integer,
    time_of_day character varying,
    created_at timestamp with time zone
);


--
-- Name: workout_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.workout_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: workout_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.workout_logs_id_seq OWNED BY public.workout_logs.id;


--
-- Name: daily_step_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_step_logs ALTER COLUMN id SET DEFAULT nextval('public.daily_step_logs_id_seq'::regclass);


--
-- Name: meal_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.meal_logs ALTER COLUMN id SET DEFAULT nextval('public.meal_logs_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: workout_logs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_logs ALTER COLUMN id SET DEFAULT nextval('public.workout_logs_id_seq'::regclass);


--
-- Data for Name: daily_step_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: meal_logs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.meal_logs VALUES (1, 3, 'fufu', 'Breakfast', '4:13 PM', 233, 0, 0, 0, 0, 0, '2026-03-24 16:13:25.770201+00');
INSERT INTO public.meal_logs VALUES (2, 3, 'red red', 'Breakfast', '1:13 PM', 50, 0, 0, 0, 0, 0, '2026-03-25 13:13:40.243617+00');
INSERT INTO public.meal_logs VALUES (3, 3, 'fufu', 'Breakfast', '6:11 PM', 30, 0, 0, 0, 0, 0, '2026-03-26 18:11:26.49529+00');


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.messages VALUES (99, 'I want to eat lunch', 'user', '2026-03-26 18:35:47.398616', '[]', 3);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users VALUES (1, 'John', 'Doe', 'j@gmail.com', 'Hypertension', '$2b$12$ufikRnLaOxK4rF3XTGi9vOgXDDlhrrayhnc92upI6mTJRliwvkVz.', true, NULL, NULL, NULL, NULL, NULL, NULL, 2000, 10000, 'Moderately Active');
INSERT INTO public.users VALUES (5, 'Bob', 'George', 'savvysaver400@gmail.com', 'None', '$2b$12$lrlIbZO043QYSx7Vxf1sLOLGmY0GuIFl6yqORppL8zM5TsgxDocpO', true, '704614', '2026-03-13 21:02:12.504459+00', NULL, NULL, NULL, NULL, 2000, 10000, 'Moderately Active');
INSERT INTO public.users VALUES (4, 'Bob', 'George', 'alvin.appiah@ashesi.edu.gh', 'None', '$2b$12$C1J4.ZaTa7PWJC5VqEeOl.efC.Nq4oL5tIBWBjVRyDr0Hj7gdotca', true, '663821', '2026-03-13 22:21:27.926618+00', NULL, NULL, NULL, NULL, 2000, 10000, 'Moderately Active');


--
-- Data for Name: workout_logs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.workout_logs VALUES (1, 3, 'Afternoon Strength', 'Strength', 30, 98, '1:41 PM', '2026-03-25 13:41:30.972183+00');
INSERT INTO public.workout_logs VALUES (2, 3, 'Afternoon Cardio', 'Cardio', 60, 455, '1:52 PM', '2026-03-25 13:52:49.180447+00');
INSERT INTO public.workout_logs VALUES (3, 3, 'Evening Sports', 'Sports', 30, 195, '6:12 PM', '2026-03-26 18:12:20.454583+00');


--
-- Name: daily_step_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.daily_step_logs_id_seq', 1, false);


--
-- Name: meal_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.meal_logs_id_seq', 10, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.messages_id_seq', 108, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: workout_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.workout_logs_id_seq', 6, true);


--
-- Name: daily_step_logs daily_step_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_step_logs
    ADD CONSTRAINT daily_step_logs_pkey PRIMARY KEY (id);


--
-- Name: meal_logs meal_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.meal_logs
    ADD CONSTRAINT meal_logs_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workout_logs workout_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_pkey PRIMARY KEY (id);


--
-- Name: ix_daily_step_logs_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_daily_step_logs_id ON public.daily_step_logs USING btree (id);


--
-- Name: ix_meal_logs_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_meal_logs_id ON public.meal_logs USING btree (id);


--
-- Name: ix_meal_logs_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_meal_logs_name ON public.meal_logs USING btree (name);


--
-- Name: ix_messages_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_messages_id ON public.messages USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_firstName; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_users_firstName" ON public.users USING btree ("firstName");


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_lastName; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ix_users_lastName" ON public.users USING btree ("lastName");


--
-- Name: ix_workout_logs_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_workout_logs_id ON public.workout_logs USING btree (id);


--
-- Name: daily_step_logs daily_step_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.daily_step_logs
    ADD CONSTRAINT daily_step_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: meal_logs meal_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.meal_logs
    ADD CONSTRAINT meal_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: workout_logs workout_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workout_logs
    ADD CONSTRAINT workout_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--



